/* .ulStyle li {
    list-style-type: none;
    display: inline;
    margin-left: 20px;
    background-color: grey
}; */

.layoutNav {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.layoutNav div {
    display: flex;
}

.navLeft div {
    margin-right: 20px;
}

.navRight div{
    margin-left: 20px;
}