doctype html
html(lang="ko")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Result
    body 
        div Hey, How are you doing today? 
        div Your information
        br
        div your id = #{userid}
        br
        div your password = #{userpassword}
        br
        div your username = #{username}
        br
        div your address = #{useraddress}
        br

